@model IEnumerable<FacturacionDTE.Models.Producto>

@{
    ViewData["Title"] = "Catálogo de Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content">
    <div class="card mb-4 shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">
            <span><i class="bi bi-capsule"></i> Catálogo de Productos</span>
            <a asp-action="Create" class="btn btn-primary btn-sm">
                <i class="bi bi-plus-circle"></i> Nuevo Producto
            </a>
      </div>
        <div class="card-body">
            <table class="table table-hover table-bordered align-middle">
                <thead class="table-primary">
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Existencias</th>
                        <th>Categoría</th>
                        <th>Tipo</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Codigo</td>
                            <td>@item.Nombre</td>
                            <td>$@item.Precio</td>
                            <td>@item.Existencias</td>
                            <td>@item.Categoria</td>
                            <td>@(item.TipoItem == 1 ? "Bien" : "Servicio")</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ProductoId" class="btn btn-warning btn-sm"><i class="bi bi-pencil-square"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.ProductoId" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
